## LLM Classification Finetuning
With the rise in use of Large Language Models it is important to finetune chatbots to respond according to the users preferences. 
in this project we will use data collected from chatbot where users chat with two anonymous LLMs and choose answer they prefer|

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("train.csv")

In [5]:
data.head()

,id,model_a,model_b,prompt,response_a,response_b,winner_model_a,winner_model_b,winner_tie
0,30192,gpt-4-1106-preview,gpt-4-0613,"[""Is it morally right to try to have a certain...","[""The question of whether it is morally right ...","[""As an AI, I don't have personal beliefs or o...",1,0,0
1,53567,koala-13b,gpt-4-0613,"[""What is the difference between marriage lice...","[""A marriage license is a legal document that ...","[""A marriage license and a marriage certificat...",0,1,0
2,65089,gpt-3.5-turbo-0613,mistral-medium,"[""explain function calling. how would you call...","[""Function calling is the process of invoking ...","[""Function calling is the process of invoking ...",0,0,1
3,96401,llama-2-13b-chat,mistral-7b-instruct,"[""How can I create a test set for a very rare ...","[""Creating a test set for a very rare category...","[""When building a classifier for a very rare c...",1,0,0
4,198779,koala-13b,gpt-3.5-turbo-0314,"[""What is the best way to travel from Tel-Aviv...","[""The best way to travel from Tel Aviv to Jeru...","[""The best way to travel from Tel-Aviv to Jeru...",0,1,0

In [7]:
data.describe()

                 id  winner_model_a  winner_model_b    winner_tie
count  5.747700e+04    57477.000000    57477.000000  57477.000000
mean   2.142564e+09        0.349079        0.341911      0.309011
std    1.238327e+09        0.476683        0.474354      0.462090
min    3.019200e+04        0.000000        0.000000      0.000000
25%    1.071821e+09        0.000000        0.000000      0.000000
50%    2.133658e+09        0.000000        0.000000      0.000000
75%    3.211645e+09        1.000000        1.000000      1.000000
max    4.294947e+09        1.000000        1.000000      1.000000

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57477 entries, 0 to 57476
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              57477 non-null  int64
 1   model_a         57477 non-null  object
 2   model_b         57477 non-null  object
 3   prompt          57477 non-null  object
 4   response_a      57477 non-null  object
 5   response_b      57477 non-null  object
 6   winner_model_a  57477 non-null  int64
 7   winner_model_b  57477 non-null  int64
 8   winner_tie      57477 non-null  int64
dtypes: int64(4), object(5)
memory usage: 3.9+ MB